@model IEnumerable<RealStateManager.BLL.Models.Vehicle>


<div class="collection with-header">
    <div class="collection-header">
        <div class="row">
            <div class="col s10">
                <h6>My Vehicles</h6>
            </div>
            <div class="col s2">
                <a asp-controller="Vehicles" asp-action="Create" class="waves-effect waves-light btn-small btn-floating green darken-4 tooltip" data-position="right" data-tooltip="New Vehicle">
                    <i class="material-icons" >add</i>
                </a>
            </div>
        </div>
    </div>

    <div class="collection-item">
        <table class="striped highlight responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Plate)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plate)
                        </td>
                        <td>
                            <a asp-controller="Vehicles" asp-action="Edit" asp-route-id="@item.VehicleId" class="btn-floating btn-small blue darken-4 tooltip" data-position="right" data-tooltip="Updating Vehicle">
                                <i class="material-icons">mode_edit</i>
                            </a> |
                            <a onclick="ConfirmDeletion(@item.VehicleId,'@item.Name')" class="btn-floating btn-small red darken-4 tooltip modal-trigger" data-target="modal" data-position="right" data-tooltip="Excluding Vehicle">
                                <i class="material-icons">delete_forever</i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


