@model IEnumerable<RealStateManager.BLL.Models.Event>

@{
    ViewData["Title"] = "Registered Events";
    string controller = this.ViewContext.RouteData.Values["controller"].ToString();
}

<div class="tables">

    <partial name="_Confirmations" />

    <div class="collection with-header">
        <div class="collection-header grey darken-1">
            <div class="row">
                <div class="col s10">
                    <h6 class="white-text">Registered Events</h6>
                </div>
                <div class="col s2">
                    <a asp-controller="Events" asp-action="Create" class="waves-effect waves-light btn-small btn-floating grey darken-4 tooltip" data-position="right" data-tooltip="New event">
                        <i class="material-icons">add</i>
                    </a>
                </div>
            </div>
        </div>

        <div class="collection-item">
            <table class="striped highlight reponsive">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                <a asp-controller="Events" asp-action="Edit" asp-route-id="@item.EventId" class="btn-floating btn-small blue darken-4 tooltip" data-position="right" data-tooltip="Update event">
                                    <i class="material-icons">mode_edit</i>
                                </a>

                                <a onclick="ConfirmDeletion(@item.EventId, '@item.Name', '@controller')" class="btn-floating btn-small red darken-4 tooltip modal-trigger" data-target="modal" data-position="right" data-tooltip="Delete event">
                                    <i class="material-icons">delete_forever</i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_ModalDelete" />

@section Scripts {
    <script src="~/js/ConfirmDeletion.js"></script>
}
