@model IEnumerable<RealStateManager.BLL.Models.HistoricResource>

@using RealStateManager.BLL.Models


@if (Model.Any())
{
    @foreach (var item in Model)
    {
        @if (item.Type == Types.Output)
        {
            <div class="collection-item">
                <text class="valign-wrapper">
                    <i class="material-icons down">arrow_downward</i>
                    $ @item.Value &nbsp; <span class="new badge" data-badge-caption="">@item.Day de @item.Month.Name</span>
                </text>
            </div>
        }
        else
        {
            <div class="collection-item">
                <text class="valign-wrapper">
                    <i class="material-icons up">arrow_upward</i>
                    $ @item.Value &nbsp; <span class="new badge" data-badge-caption="">@item.Day de @item.Month.Name</span>
                </text>
            </div>
        }
    }
}
else
{
    <div class="collection-item">
        <text>No Moves Yet</text>
    </div>
}
